<div class="container" *ngIf="albums$ | async as albums">
  <h1 *ngIf="albums">
    {{ "albums.albumList" | translate }}
  </h1>

  <div class="row">
    <div *ngFor="let album of albums" class="col-6 col-md-3 pb-4">
      <app-card>
        <a class="user-album" [routerLink]="[album.id, 'photos']">
          {{ album.title }}
        </a>
      </app-card>
    </div>
  </div>

  <div
    class="grid pt-3 gap-2 d-flex flex-column flex-md-row justify-content-end"
  >
    <a [routerLink]="['/']" mat-stroked-button>
      {{ "common.buttons.goBack" | translate }}
    </a>
  </div>
</div>
